<h1>Le Classement</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th colspan="8">Classement Défis</th>
    </thead>
    <tbody>
      <tr>
        <td>#</td>
        <td>Prenom</td>
        <td><span class="glyphicon glyphicon-thumbs-up" role="button"></span></td>
        <td><span class="glyphicon glyphicon-thumbs-down" role="button"></span></td>
        <td>Diff.</td>
        <td>Pts.</td>
      </tr>
      <% x = 0 %>
      <% @users.each do |user| %>
        <tr>
          <td><%= x = x + 1 %></td>
          <td><%= user.nom %></td>
          <td><%= user.green.to_i %></td>
          <td><%= user.red.to_i %></td>
          <td><%= user.green.to_i - user.red.to_i %></td>
          <td><%= user.pts.to_i %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
