<h1>Les Défis</h1>
<p>
  C'est la page des Défis.
  En preparation ^^
</p>

<div class="media">
  <p class="pull-left">
    <%= image_tag("paresse.jpg", :class => "img-rounded", size: "70x90") %>
  </p>
  <div class="media-body">
    <h4 class="media-heading">La Paresse</h4>
    <p>C'est une belle journée qui se termine, mais ce n'est pas l'heur de dormir! Et pourtant la prise de somnifère est <strong>obligatoire</strong>. Déjà 20h, la soirée commence, il faut tenir le plus longtemps possible, car garde aux dormeurs... Le pire des sévices leurs seront réservés!! </p>
  </div>
</div>
<div class="media">
  <p class="pull-left">
    <%= image_tag("avarice.jpg", :class => "img-rounded", size: "70x90") %>
  </p>
  <div class="media-body">
    <h4 class="media-heading">L'Avarice</h4>
    <p>Les temps sont durs, et la journée aussi : les creuvards sont de sorties! <strong>ZERO</strong> euro en poche de 18H à 18H dans les rues de la grande motte. Il est interdit de rentrer dans l'appart'. </p>
  </div>
</div>
<div class="media">
  <p class="pull-left">
    <%= image_tag("colere.jpg", :class => "img-rounded", size: "70x90") %>
  </p>
  <div class="media-body">
    <h4 class="media-heading">La Colère</h4>
    <p>Il est venu de le temps de se trahir, plus d'amitié qui soit. Coups de putes toutes la journée, lâchez vous!!! Juste une régle à respecter, la terre sainte est sacrée, il est interdit de se lâcher dans l'appart'. </p>
  </div>
</div>
<div class="media">
  <p class="pull-left">
    <%= image_tag("envie.jpg", :class => "img-rounded", size: "70x90") %>
  </p>
  <div class="media-body">
    <h4 class="media-heading">L'Envie</h4>
    <p>Comme à interville, il y a un fil rouge ^^. Ce fil rouge de cette année sera de garder la péche tout au long des vacances !!! C'est à dire footing, abdos, pompes ... tous les matins. Obligatoire !!!</p>
  </div>
</div>
<div class="media">
  <p class="pull-left">
    <%= image_tag("gourmandise.jpg", :class => "img-rounded", size: "70x90") %>
  </p>
  <div class="media-body">
    <h4 class="media-heading">La Gourmandise</h4>
    <p>La cueillette des champis fût un succés! Au cuisto "B3nTy" de préparer une petite tarte maison aux champis magiques! En dessert, un spécial spacecake! <strong>"A table"! BON CHANCE !</strong> </p>
  </div>
</div>
<div class="media">
  <p class="pull-left">
    <%= image_tag("luxure.jpg", :class => "img-rounded", size: "70x90") %>
  </p>
  <div class="media-body">
    <h4 class="media-heading">La Luxure</h4>
    <p>Nous sommes de retour Cap D'Agde, et nous ne repartirons pas brocouille! Pas besoin de compagnes, nous emporterons les notres dans nos poches, si on en a de poche ^^. </p>
  </div>
</div>
<div class="media">
  <p class="pull-left">
    <%= image_tag("orgueil.jpg", :class => "img-rounded", size: "70x90") %>
  </p>
  <div class="media-body">
    <h4 class="media-heading">L'Orgueil</h4>
    <p>Il ne faut pas perdre au volley, c'est impossible à concevoir! Si défaite il y a, ce ne sera pas notre faute puisque on a une victime... Notre chère est tendre poupée gonflable ;-). J'explique : tournoi de volley par équipe de trois dont un membre en plastique ^^. </p>
    <p>Je pense que le défi Orgueil n'est pas terminé, par conséquent nous prouverons notre mauvaise foi dans un autre tournoi. Mais cette fois, c'est la pétanque qui sera notre adversaire. Que le sud soit en nous et les dataries feront l'affaire!! </p>
    <p>Et oui, on a déjà entendu parler d'interville, et voila la vachette qui débarque !!! Taureau piscine pour tout le monde et obligation de toucher le taureau, po de petite tarlouze !!! </p>
  </div>
</div>