<h1>Les Défis</h1>
<p>
  C'est la page des Défis.
  En preparation ^^
</p>

<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag("paresse.jpg", :class => "media-object", size: "70x90") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">La Paresse</h4>
    ...
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag("avarice.jpg", :class => "media-object", size: "70x90") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">L'Avarice</h4>
    ...
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag("colere.jpg", :class => "media-object", size: "70x90") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">La Colère</h4>
    ...
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag("envie.jpg", :class => "media-object", size: "70x90") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">L'Envie</h4>
    ...
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag("gourmandise.jpg", :class => "media-object", size: "70x90") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">La Gourmandise</h4>
    ...
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag("luxure.jpg", :class => "media-object", size: "70x90") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">La Luxure</h4>
    ...
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag("orgueil.jpg", :class => "media-object", size: "70x90") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">L'Orgueil</h4>
    ...
  </div>
</div>