<header>
  <%= logo %>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "L'équipe/Les votes", equipe_path %></li>
      <li><%= link_to "Les Défis", defis_path %></li>
      <li><%= link_to "Le Classement", classement_path %></li>
    </ul>
  </nav>
</header>